# Created by https://www.gitignore.io/api/xilinxvivado
# Edit at https://www.gitignore.io/?templates=xilinxvivado


#########################################################################################################
##	
##	https://github.com/colayare/hexapod_project
##########
##	Exclude all in repository
#*
#!*/
## 	.gitignore
!.gitignore

### Python ###
#########################################################################################################
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### TCL/ ###
#########################################################################################################
!TCL/*

### Petalinux/ ###
#########################################################################################################
!Petalinux/*

### Verification/ ###
#########################################################################################################
!Verification/*

!*/

### XilinxVivado ###
#########################################################################################################
##	This is an example .gitignore file for Vivado, please treat it as an example as
##	it might not be complete. In addition, XAPP 1165 should be followed.
#########
#!*/
###########################################################################
##	SDK .metadata Folder content to avoid SDK not opening issue
#arty7z10_ikinematics_v2_2/arty7z10_ikinematics_v2_2.sdk/.metadata/
###########################################################################
##	VIVADO
#Source files:
#Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!*.vhd
!*.v
!*.bd
!*.edif
#IP files
#.xci: IP-core property file with core container disabled
!*.xci
#*.dcp (checkpoint files: better be ignored!)
#!*.dcp
!*.vds
!*.pb
#All bd comments and layout coordinates are stored within .ui
!*.ui
!*.ooc
#System Generator
!*.mdl
!*.slx
!*.bxml
#Simulation logic analyzer
!*.wcfg
!*.coe
#MIG
!*.prj
!*.mem
#Project files
#XPR  +  *.XML ? XPR (Files are merged into a single XPR file for 2014.1 version)
#Do NOT ignore *.xpr files
!*.xpr
#Include *.xml files for 2013.4 or earlier version
!*.xml
#Constraint files
#Do NOT ignore *.xdc files
!*.xdc
#TCL - files
!*.tcl
#Journal - files //Changed to ignore
#!*.jou
#Reports
!*.rpt
!*.txt
!*.vdi
#C-files
!*.c
!*.h
!*.elf
!*.bmm
!*.xmp
#HDF-files
!*.hdf
# End of https://www.gitignore.io/api/xilinxvivado
